<launch>
  <arg name="package_name" default="fuming_feathers"/>


  <node pkg="$(arg package_name)"
        type="falcon_input.py"
        name="falcon_input_node"
        output="screen">
  </node>


  <node pkg="$(arg package_name)"
        type="game_backend2.py"
        name="game_file_backend_node"
        output="screen">
  </node>

  
  <node pkg="$(arg package_name)"
        type="game_frontend.py"
        name="game_file_frontend_node"
        output="screen">
  </node>

  
  <node pkg="$(arg package_name)"
        type="enemy_detector.py"
        name="enemy_detector_node"
        output="screen">
  </node>

  <node pkg="$(arg package_name)"
        type="panda_output.py"
        name="panda_output_node"
        output="screen">
  </node>

</launch>
