<?xml version="1.0"?>
<launch>
    <include file="$(find cu_panda_bringup)/hardware.launch">
        <arg name="rviz" default="false" /> 
    </include>

    <node name="falcon" pkg="falcon_ros" type="driver" output="screen">
        <param name="frame_id" value="falcon_front"/>
    </node>
    <node name="falcon_grip_state" pkg="falcon_ros" type="grip_state"/>

    <param name="robot_description" command="xacro $(dirname)/../urdf/setup.urdf.xacro"/>

    <!-- <include file="$(find falcon_controller)/launch/mapper.launch"/> -->
    <include file="$(dirname)/launch/rviz.launch"/>

    
</launch>